body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #ff6100; /* Updated color */
  color: #fff;
  padding: 20px;
  width: auto;
}

h1 {
  margin: 0;
}

h2 {
  color: #ff6100;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

h2 {
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

li a {
  color: #333;
  text-decoration: none;
}

footer {
  background-color: #ff6100; /* Updated color */
  color: #fff;
  padding: 10px;
  text-align: center;
  width: auto;
}
